<!DOCTYPE html>
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'pierwsza/style.css' %}"/>
<html>
<head lang="pl">
<meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="header">
    <h1 class="center">Witaj na stronie głównej</h1>
    <a href="admin" class="font">Panel administracyjny (wymaga znajomości loginu i hasła)</a>
</div>
<h3>Ukończone ankiety</h3>
{% if done_poll_list %}
    <table style="width: 100%" class="font">
    <tr id="wiersz1">
        <td>Tytuł ankiety</td>
        <td>Data publikacji</td>
    </tr>
    {% for poll in done_poll_list %}
        <tr id="wiersz2">
            <td class="center"><a href="pierwsza/{{ poll.id }}">
                {{ forloop.counter }}. {{ poll.title }}</a></td>
            <td id="kolumna2"><b>{{ poll.pub_date }}</b></td>
        </tr>
    {% endfor %}
{% else %}
    <p>Nie wypełniałeś/wypełniałaś jeszcze żadnej ankiety</p>
{% endif %}
</table>
<h3>Dostępne ankiety</h3>
{% if todo_poll_list %}
    <table style="width: 100%" class="font">
    <tr id="wiersz1">
        <td><b>Tytuł ankiety</b></td>
        <td><b>Data publikacji</b></td>
    </tr>
    {% for poll in todo_poll_list %}
        <tr id="wiersz2">
            <td class="center"><a href="pierwsza/{{ poll.id }}">
                {{ forloop.counter }}. {{ poll.title }}</a></td>
            <td id="kolumna2"><b>{{ poll.pub_date }}</b></td>
        </tr>
    {% endfor %}
{% else %}
    <p>Brak ankiet</p>
{% endif %}
</table>
{% if done_poll_list %}
    <p id="header" class="font"><a href="/pierwsza/results.html"> Zobacz wyniki ostatnio wypełnionej
    ankiety {{ poll.id }}</a></p>
{% else %}
    <p id="header" class="font">Wyniki ankiety będą dostępne po wypełnieniu</p>
{% endif %}
</body>
</html>