<!DOCTYPE html>
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'pierwsza/style.css' %}"/>
<html>
<head lang="pl">
<meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1 id="header2"><b>{{ information }}</b></h1></body>

<p><b><a href="/" class="font">{{ back }}</a></b></p>
</html>
