<!DOCTYPE html>
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'pierwsza/style.css' %}"/>
<html>
<head lang="pl">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{# komentarz #}
{% if question %}
    <h1 id="question">Pytanie {{ question.number }}</h1>
    <h1 id="pytanie"> {{ question }}</h1>
    <form action="/pierwsza/{{ poll_id }}/{{ question.id }}" method="post">
    {% csrf_token %}
        {% if poll_id in id_list %}
            {% for choice in choice_list %}
                {% if choice.id in saved_id %}
                    <input class="font" type="radio" name="choice_id" id="selected_choice" value="{{ choice.id }}"
                           checked="checked" readonly="readonly">
                    <label for="selected_choice" class="font">{{ choice }}<br></label>
                    <br>
                {% endif %}
            {% endfor %} <br>
        {% else %}
            {% if choice_list %}
                {% for choice in choice_list %}
                    {% if choice.id in saved_id %}
                        <input type="radio" name="choice_id" id="choice{{ choice.id }}" value="{{ choice.id }}"
                               checked="checked">
                        <label for="choice{{ choice.id }}" class="font">{{ choice }}</label><br>
                    {% else %}
                        <input type="radio" name="choice_id" id="choice{{ choice.id }}" value="{{ choice.id }}">
                        <label for="choice{{ choice.id }}" class="font">{{ choice }}</label><br>
                    {% endif %}
                {% endfor %} <br>
                {% if bad_choice %}
                    <b><p id="info" class="font">Musisz cos wybrać!</p><br></b>
                {% endif %}
            {% else %}
                <input type="text" name="open_question">
            {% endif %}
        {% endif %}
        <input class="button" type="submit" name="Następne" value="Następne">
    </form>
{% else %}
    <b><p id="info" class="font">Nie ma takiego pytania!</p></b>
{% endif %}

</body>
</html>