<!DOCTYPE html>
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'pierwsza/style.css' %}"/>
<html>
<head lang="pl">
<meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1 id="header2">Wyniki ankiety: {{ poll_title }}</h1>
<table style="width: 100%" class="font">
    <tr id="wiersz1">
        <td>Pytanie</td>
        <td>Wybory</td>
        <td>Liczba głosów</td>
        <td>Procent głosów</td>
        <td>Wykres</td>
    </tr>
    <tr class="center">
        {% for ques in question_1 %}
            <td class="center"><p>{{ ques.question }}</p></td>
            {% if ques.choice_list %}
                <td class="center">{% for choice in ques.choice_list %}
                    {{ choice.choice_text }}<br>
                {% endfor %}</td>
                <td class="center">{% for choice in ques.choice_list %}
                    {{ choice.votes }}<br>
                {% endfor %}</td>
                <td class="center">{% for percent in ques.percent_list %}
                    {{ percent }}%<br>
                {% endfor %}</td>
                <td class="center">{{ ques.svg_graph|safe }}<br></td>
            {% endif %}
            </tr>
        {% endfor %}
</table>
<p><b><a href="/" class="font">Powrót do strony głównej</a></b></p>
</body>
</html>