body {
    background-color: whitesmoke;
}

p {
    color: black;
    text-align: center;
}

h3 {
    text-align: center;
}

a:link {
    color: darkblue;
    text-decoration: none;
}

a:visited {
    color: darkblue;
    text-decoration: none;
}

a:hover {
    color: dodgerblue;
}

#brak_ankiet {
    color: red;
    text-align: center;
}

#header {
    color: darkblue;
    text-align: right;
    background-color: lightblue;
}

#header2 {
    color: darkblue;
    text-align: center;
    background-color: lightblue;
}

#question {
    color: darkblue;
    text-align: center;
    background-color: lightblue;
}

.center {
    text-align: center;
}

.font {
    font-family: Arial, monospace;
    font-size: 15px;
    color: darkblue;
}

table {
    border: 1;
    border-style: solid;
    border-color: black;
    background-color: white;
    text-align: left;
}

#wiersz1 {
    height: 5em;
    background-color: midnightblue;
    color: white;
    text-align: center;
    border: 1;
    border-style: solid;
    border-color: black;
}

#td {
    width: 1em;
}

#pytanie {
    height: 2.3em;
    background-color: midnightblue;
    color: white;
    text-align: left;
    border: 1;
    border-style: solid;
    border-color: black;
}

#wiersz2 {
    height: 3em;
}

#kolumna2 {
    width: 50%;
    text-align: right;
}

#pytnia {
    height: 1.5em;
    background-color: midnightblue;
    color: white;
    text-align: left;
    border: 1;
    border-style: solid;
    border-color: black;
}

#info {
    color: crimson;
    text-align: left;
}

label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
}

input[type=radio] {
    display: none;
}

label:before {
    content: "";
    display: inline-block;

    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottombottom: 1px;
    background-color: #80b5ea;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

input[type=radio]:checked + label:before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}

.button {
    -moz-box-shadow: inset 0px 1px 2px 0px #dcecfb;
    -webkit-box-shadow: inset 0px 1px 2px 0px #dcecfb;
    box-shadow: inset 0px 1px 2px 0px #dcecfb;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea));
    background: -moz-linear-gradient(center top, #bddbfa 5%, #80b5ea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea');
    background-color: #bddbfa;
    -webkit-border-top-left-radius: 13px;
    -moz-border-radius-topleft: 13px;
    border-top-left-radius: 13px;
    -webkit-border-top-right-radius: 13px;
    -moz-border-radius-topright: 13px;
    border-top-right-radius: 13px;
    -webkit-border-bottom-right-radius: 13px;
    -moz-border-radius-bottomright: 13px;
    border-bottom-right-radius: 13px;
    -webkit-border-bottom-left-radius: 13px;
    -moz-border-radius-bottomleft: 13px;
    border-bottom-left-radius: 13px;
    text-indent: 3px;
    border: 2px solid #84bbf3;
    display: inline-block;
    color: #ffffff;
    font-family: Arial, serif;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    height: 45px;
    line-height: 45px;
    width: 108px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 2px 0 #528ecc;
}

.button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa));
    background: -moz-linear-gradient(center top, #80b5ea 5%, #bddbfa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa');
    background-color: #80b5ea;
}

.button:active {
    position: relative;
    top: 1px;
}

/* This button was generated using CSSButtonGenerator.com */
